h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}
body{
    
    background-color: #d1e189;
}
.img1{
 border: 10px solid white ;
 margin-bottom: 25px;
 margin-top: 25px;
}

 .img2{
    border: 10px solid #d1e189;
    
    outline: 5px solid white;
    margin-bottom: 25px;
    margin-top: 25px;
 
}
p{
    font-size: 24px; 
    font-weight: normal;
}
.two {
    margin-top: 30px;
}
h2{
    font-size: 30px; 
}
ul{
   font-size: 20px; 
   display: block;
}
h3{
    font-size: 25px;
}
.digestion{
    position: center;
    border: 10px solid white; 
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 55px;
}
div{
    display : inline-block;
    width: 30%;
    border: 10px solid white; 
    border-radius: 15px;
    margin: 50px 75px;
    
}
button{
    border-radius: 15px;
    border-color: white;
    color: olive;
    border-width: 3px;
    background-color: #d1e189; 
    display: block;
    margin-left: 150px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 100px;
}
a{
    text-decoration: none;
}
.suryanamaskar{
    margin-left: 40px;
}
.thirdyogapose{
    margin-left: 112px;
    height: 50px;
    width: 180px; 
}
.topnav {
    overflow: hidden;
    display:cover;
    background-color: none;
  
    color: #f2f2f2;
    text-align: left;
    
    text-decoration: none;
    font-size: 17px;
    width: 1450px;
    
  }
  
  